<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex, nofollow, noarchive, nosnippet">
  <meta http-equiv="refresh" content="1;URL='<%= root %>'" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/manage.css">
  <link rel="stylesheet" href="/css/complete.css">
</head>

<body>
  <main>
    <div class="wrap main-complete-wrapper">
      <div class="main-complete-child"><%= message %></div>
    </div>
  </main>
  <%- include('./partials/manage_footer.ejs') %>
</body>
</html>